@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
.title {
    width: 100%;
    font-family: 'Poppins', sans-serif;
    font-size: 4vw;
    text-align: center;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

.arena{
    display: flex;
    width: 100%;
    height: 100%;
}

.section-one{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-style: solid;
    border-right-color: black;
}

.section-two{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    border-style: solid;
    border-right-color: black;
}

.player-one{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.player-two{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.score{
    font-size: 9vw;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.action{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.plus {
    height: 100%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    padding:  1vw 0 1vw 0;
    margin: 1vw;
}

.minus {
    height: 100%;
    width: 30%;
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    padding:  1vw 0 1vw 0;
    margin: 1vw;
}

.progress{
    background: #039be5;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
    height: 25%;
    display: block;
}

#timer{
    font-family: 'Poppins', sans-serif;
    font-size: xx-large;
    text-align: center;
    height: 25%;
    margin-bottom: 1vw;
    justify-content: center;
    align-items: center;
}

#timer_div {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}

#timer-end-alert{
    background: #ffa100;
    font-family: 'Poppins', sans-serif;
    font-size: x-large;
    color: whitesmoke;
    text-align: center;
    height: 25%;
    display: block;
}

.question {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin: 1vw;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.link-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    flex-direction: row;
}

.link{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 25%;
    display: block;
    margin: 1vw;
}

.link-btn{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 25%;
    display: block;
    margin: 1vw;
    width: 100%;
}

.question-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border: 1px solid black;
    align-items: center;
    justify-content: center;
}

.question-link {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    height: 25%;
    display: block;
    margin: 1vw;
    width: 100%;
}